form.user-form
    label(
        for="user-name"
        class="user-form__label"
    )
        input(
            type="text"
            id="user-name"
            class="user-form__input"
            placeholder="Enter or create a user"
        )
    button.button Play