form#user-form.user-form
    label(
        for="user-name"
        class="user-form__label"
    ) Enter or create a user
        input(
            type="text"
            id="user-name"
            class="user-form__input"
            placeholder="Username"
        )
    button(
        class="button button--cta user-form__trigger"
    ) Play